/* ======================================================================================= */
/* ======================================================================================= */
/* ===================================== FOOTER ========================================== */
/* ======================================================================================= */
/* ======================================================================================= */


.footer {
    background: #111a2c;
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 2rem;
  }
  
  .footer strong {
    color: var(--gold);
  }