/* ======================================================================================= */
/* ======================================================================================= */
/* ==================================== HEROBANNER ======================================= */
/* ======================================================================================= */
/* ======================================================================================= */


.hero {
    margin-top: 80px; /* espace pour la navbar */
    position: relative;
    text-align: center;
  }
  
  .hero-img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    filter: brightness(65%);
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    max-width: 700px;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--gold);
  }
  
  .hero-content p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  
  .cta {
    background: var(--blue);
    color: white;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: var(--radius);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .cta:hover {
    background: var(--gold);
    color: #000;
  }
  