/* ======================================================================================= */
/* ======================================================================================= */
/* ======================================= LOADER ======================================== */
/* ======================================================================================= */
/* ======================================================================================= */


.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .spinner {
    border: 5px solid rgba(255,255,255,0.2);
    border-top: 5px solid #b177ff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  